.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: 500;
  font-family: system-ui;
}
@media screen and (max-width: 500px) {
  .header a {
    float: left;
    display: block;
    text-align: left;
  }
}
#profile {
  display: flex;
  /* position: absolute; */
  top: 120px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}


.card {
  position: relative;
  width: 300px;
  height: 300px;
  color: #a18a96;
  /* background: url(https://images.yourstory.com/cs/images/people/06-1600264128065.jpg)center no-repeat; */
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  overflow: hidden;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-top-left-radius: 20px;
  transform: translateY(30px);
  transition: transform .25s;
}

.card_content::before {
  content: ;
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #ffff;
}

.card_title a {
  color: #6A515E;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .content {
  opacity: 1;
  transition-delay: .25s;
}
/* footer */
.footer p{
  font-family: system-ui;
}
.footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer__social {
  margin-bottom: 2rem;
}

.footer__icon {
  font-size: 1.5rem;
  color: rgb(0, 150, 250);
  margin: 1rem;
}

  